body{
 background-image: url("https://wallpaperaccess.com/full/948963.jpg");
}
.ship-piece-hited{
    background-color: yellow;
}

}
.salvo{
    background-color: green;
}
.target{
background-color: red ;
}


.destroyer{
background-color: blue;
}
.submarine{
background-color: black;
}
.patrol_boat{
background-color: orange;
}
.battleship{
background-color: white;
}
.carrier{
background-color: brown;
}